@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-font: "Montserrat", sans-serif;
$primary-font-color: #2c2c2c;
$primary-color: #0f52ba;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

* > body {
  min-height: 100vh;
}

h1 h2 h3 h4 h5 h6 p {
  color: $primary-font-color;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: center;
  max-width: 1000px;
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.white-text {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
}

:where(.css-dev-only-do-not-override-1r287do).ant-drawer .ant-drawer-footer {
  padding: 0;
}

:where(.css-dev-only-do-not-override-1r287do).ant-drawer .ant-drawer-header {
  border: none;
}

:where(.css-dev-only-do-not-override-1r287do).ant-drawer
  .ant-drawer-close:active {
  background-color: $primary-color;
}

:where(.css-dev-only-do-not-override-1r287do).ant-drawer .ant-drawer-close {
  align-items: unset;
  background: #fff;
  border-radius: 50%;
  color: #000;
}

.ant-drawer-close {
  position: absolute;
  top: 20px;
  right: 0;
}

.item-counter-button {
  width: 20px;
  border: none;
  background-color: #fff;
  text-align: center;
}

.centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}
